<div id="galerii" >
	<div>Kasutaja <?php echo htmlspecialchars($_SESSION['logged_in_user']); ?> pildid</div>
<?php if (!empty($pildid)):?>
	<?php foreach($pildid as $pildi_id=>$pilt): ?>
		<div class="galeriipilt">
			<p><?php echo htmlspecialchars($pilt["pildinimi"]); ?></p>
			<a href="<?php echo htmlspecialchars($pilt["pildifail"]); ?>" class="highslide" onclick="return hs.expand(this)">			
			<img src="<?php echo $pilt["pildifail"]; ?>" alt="<?php echo htmlspecialchars($pilt["pildinimi"]); ?>" title="<?php echo htmlspecialchars($pilt["pildinimi"]); ?>" />
        	</a>
			<p><?php echo htmlspecialchars($pilt["pildikomm"]); ?></p>
			<a href="?page=change_p&id=<?php echo htmlspecialchars($pilt['id']); ?>">Muuda pilti</a>
		</div>
	<?php endforeach; ?>
<?php endif;?>
</div>