<div id="galerii" >
	<div>Kasutaja <?php echo htmlspecialchars($_SESSION['logged_in_user']); ?> pildid</div>
<?php if (!empty($pildid)):?>
	<?php foreach($pildid as $pildi_id=>$pilt): ?>
		<div class="galeriipilt">
			<p><?php echo $pilt["pildinimi"]; ?></p>
			<img src="<?php echo $pilt["pildifail"]; ?>" alt="<?php echo $pilt["pildinimi"]; ?>" title="<?php echo $pilt["pildinimi"]; ?>" />
			<p><?php echo $pilt["pildikomm"]; ?></p>
			<a href="?page=change_p&id=<?php echo $pilt['id']; ?>">Muuda pilti</a>
		</div>
	<?php endforeach; ?>
<?php endif;?>
</div>