<div id="adduser">
	<form action="?page=add_u" method="POST">
		<table>
			<caption><h2>Kasutaja regristeerimise vorm</h2></caption>
			<tbody>
				<tr>
					<td>Kasutajanimi</td>
					<td><input type="text" name="knimi" placeholder="Kasutajanimi" value=""/></td>
				</tr>
				<tr>
					<td>Parool</td>
					<td><input type="password" name="parool" placeholder="Turvaline parool" value=""></td>
				</tr>
				<tr>
					<td colspan="2">
						<hr>
					</td>
				</tr>
				<tr>
					<td>Eesnimi</td>
					<td><input type="text" name="enimi" placeholder="Sinu nimi" value=""/></td>
				</tr>
				<tr>
					<td>Perekonna nimi</td>
					<td><input type="text" name="pnimi" placeholder="Sinu perekonna nimi" value=""/></td>
				</tr>
				<tr>
					<td>Vanus</td>
					<td><input type="number" name="vanus" placeholder="Vanus" value="18"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<hr>
					</td>
				</tr>
				<tr>
					<td><a href="?page=tingimused">Kasutustingimuste nõus?</a></td>
					<td><input type="checkbox" name="nousolek" checked="checked" /></td>
				</tr>
			</tbody>
			<tr>
				<td colspan="2">
					<input type="submit" value="Regitreeru kasutajaks"/>
				</td>
			</tr>
			
		</table>
	</form>
</div>